<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="top::top"></div>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/8d3fc93edf.js"	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link th:href="@{/css/board-detail.css}" rel="stylesheet"/>
<script th:src="@{/js/rerply.js}" defer></script>

<body>

<!-- detail 영역 시작 -->
<input type="hidden" name="NTNO" id = "NTNO" th:value="${list.NTNO}">

<div class="container">

    <div class="cover">

        <div class="contents">
            <div class="line">
                <span>공지사항</span>
            </div>
        </div>

        <div class="board_wrap">
            <div class="board-title">
                <p th:text="${list.NTTITLE}"></p>
            </div>
            <div class="board-info">
                <span th:text="${list.NTWRITER}"></span>
                <span class="date" th:text="${list.NTWRITEDAY}"></span>
                <span class="readcnt" th:text="'조회수 : '+${list.NTREADCNT}"></span>
            </div>
        </div>

        <div class="board-content">
            <p th:text="${list.NTCONTENT}"></p><br>
        </div>

        <div class="gotoboard">
				<span class="board_upde">
					<input type="button" value="목록" th:onclick="location.href='ntout'" class="list-btn">

   	    				<th:block data-th-if="${loginUser != null && loginUser.MEMNICKNAME=='admin'}">
                            <input type="button" value="수정" th:onclick= "|location.href='@{ntmodify(NTNO=${list.NTNO})}'|" class="list-btn">
							<input type="button" value="삭제"  class="list-btn" data-toggle="modal" data-target="#exampleModal">
                        </th:block>

				</span></div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">게시물 삭제
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></h5>
            </div>
            <div class="modal-body">
                게시물을 정말 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" th:onclick= "|location.href='@{ntdelete(NTNO=${list.NTNO})}'|" class="btn btn-primary">삭제하기</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
            </div>
        </div>
    </div>
</div>
<!-- detail 영역 끝 -->

</body>


</html>