<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="top::top"></div>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/8d3fc93edf.js" crossorigin="anonymous"></script>

<link th:href="@{/css/notice.css}" rel="stylesheet"/>

<body>

<div class="container">
    <div class="cover">

        <div class="contents">
            <div class="line">
                <span>공지사항</span>
            </div>

            <!--검색바-->
            <form action="ntsearch" method="post">
                <ul class="searchbar">
                    <li><input class="put" type="text" name="svalue" placeholder="제목 검색"></li>
                    <li><input type="submit" value="검색" class="search-btn"></li>
                    <li><a href="ntout" style="font-size: 19px;"><i class="fa-solid fa-rotate-right"></i></a></li>
                </ul>
            </form>
            <!--검색바-->

            <!-- 게시판 목록 -->
            <table>

                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>조회</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="list:${list}">
                    <td class="num" th:text="${list.NTNO}"></td>
                    <td class="title">
                        <a th:href="@{ntdetail(NTNO=${list.NTNO})}" th:text="${list.NTTITLE}"></a>
                    </td>
                    <td class="view" th:text="${list.NTREADCNT}"></td>
                </tr>
                </tbody>

            </table>
        </div>
        <!-- 게시판 목록 끝 -->

        <!--글쓰기버튼-->
        <div class="gotowrite">
            <th:block data-th-if="${loginUser != null && loginUser.MEMNICKNAME=='admin'}">
                <input type="button" value="글쓰기" th:onclick="location.href='ntinput'" class="write-btn"><br>
            </th:block>
        </div>
        <!--글쓰기버튼-->

        <!-- 페이징 처리 -->

        <div class="page">

            <span th:each="page : ${#numbers.sequence(0, totalPage -1)}">
                <a th:href="@{/ntout(page=${pageStat.index})}" th:text="${pageStat.index+1}"></a>
            </span>

            <!-- 페이징 처리 끝 -->
        </div>
    </div>
</div>


</body>


</html>