<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link th:href="@{/css/login.css}" rel="stylesheet"/>
<body>

<section class="login-form">

  <h1>로그인</h1>
  <form action="loginsave" method="post">

    <div class="int-area">
      <input type="text" name="memid"  autocomplete="off" required>
      <label>아이디</label>
    </div>
    <div class="int-area">
      <input type="password" name="mempw"  autocomplete="off" required>
      <label>패스워드</label>
    </div>
    <div class="btn-area">
      <button type="submit" class="login-btn">로그인</button>
    </div>

  </form>

  <div class="caption">
    <a th:href="input">회원이 아니신가요? 가입하기</a>
  </div>

</section>

</body>

</html>