<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="top::top"></div>

<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<link th:href="@{/css/board-detail.css}" rel="stylesheet"/>
<script th:src="@{/js/rerply.js}" defer></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/8d3fc93edf.js"	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">






<script type="text/javascript">



$(function()
	{
    	$("#like_btn").click(function()
    	{
    	const PTNO = $("#PTNO").val();
        const MEMNICKNAME = $("#MEMNICKNAME").val();

                     //alert("클릭");
                     console.log(PTNO);
                     console.log(MEMNICKNAME);

                $.ajax({
                        type:'GET',
                        url:'ptupdateLike',
                        dataType:'json',
                        data:{'PTNO':PTNO, 'MEMNICKNAME':MEMNICKNAME},
                       success:function(result)
    			{
    				var vnt=JSON.parse(result);
    				if(result==0)
    				{
    					alert("추천 성공");
    					location.reload();
    				}
    				else
    				{
    					alert("추천 취소");
    					location.reload();
    				}

    			},
    			error:function(data)
    			{
    				alert("전송실패!!");
    			}

                        });


		    });      //end ajax
    	}); //자료입력


function check1()
{
   var f = document.form1;

   //댓글 작성자
   var vwriter = /^[A-Za-z0-9가-힣]/;
   var cwriter = document.form1.PTWRITER.value;

   if(cwriter == "")
   {
      alert("로그인 해야 작성할 수 있습니다.");
      return false;
   }

   //댓글 내용
   var vcontent = /^[A-Za-z0-9가-힣]/;
   var ccontent = document.form1.PTCONTENT.value;

   if(ccontent == "")
   {
      alert("댓글 내용을 입력해주세요.");
      document.form1.PTCONTENT.select();
      return false;
   }

   alert("댓글 작성이 완료되었습니다.");
   f.submit();

}


</script>

<title>photo detail</title>




<body>


<div class="container">

  <div class="cover">

    <div class="contents">
      <div class="line">
        <span>포토게시판</span>
      </div>
    </div>
    <div class="board_wrap">
      <div class="board-title">
        <p th:text="${list.PTTITLE}"></p>
      </div>
      <div class="board-info">

        <span th:text="${list.PTWRITER}"></span>
        <span class="date" th:text="${list.PTWRITEDAY}"></span>
        <span class="readcnt">
                    조회수 : <span th:text="${list.PTREADCNT}"></span>
                </span>
        <span class="like">
                    추천수 : <span th:text="${list.PTLIKE}"></span>
                </span>
      </div>
    </div>

    <div class="board-content">
      <p>
        <img th:src="@{/image/}+${list.PTPICTURE}" width="154px" height="154px" >
      </p><br>
      <p th:text="${list.PTCONTENT}"></p><br>
    </div>



    <div class="gotoboard">
      <th:block data-th-if="${loginUser != null}"> <!-- 로그인값이 null이 아닐때 -->
        <input type="hidden" name="PTNO" id = "PTNO" th:value="${list.PTNO}">
        <input type="hidden" name="MEMNICKNAME" id = "MEMNICKNAME" th:value="${loginUser.MEMNICKNAME}">

        <button type="button" id="like_btn" class="like-btn" style="color:#DB7093"><i class="fa-regular fa-heart"></i>LIKE</button>
      </th:block>


      <input type="button" value="목록" th:onclick="location.href='ptout'" class="list-btn">

      <th:block data-th-if="${loginUser != null && loginUser.MEMNICKNAME == list.PTWRITER}"> <!-- 로그인값이 null이 아니고 닉네임이 동일할때 -->
        <input type="button" value="수정" th:onclick= "|location.href='@{ptmodify(PTNO=${list.PTNO})}'|" class="list-btn">
        <input type="button" value="삭제" th:onclick= "|location.href='@{ptdelete(PTNO=${list.PTNO})}'|" class="list-btn">
      </th:block>

    </div>






    <section class="mb-5">
      <div class="card-bg-light">
        <span class="font-reply" th:text="'댓글'+'['+${list.PTRECNT}+']'"></span>

        <div class="card-body">
          <form class="mb-4" method="post" action="ptreply" name="form1">

            <th:block data-th-if="${loginUser != null}">
              <input type="text" placeholder="작성자" th:value="${loginUser.MEMNICKNAME}" name="PTWRITER">
            </th:block>
            <th:block data-th-if="${loginUser == null}">
              <input type="text" placeholder="로그인해주세요"  name="BOWRITER" readonly>
            </th:block>

            <textarea class="form-control" rows="3" placeholder="댓글을 입력하세영" name="PTCONTENT"></textarea>

            <input type="hidden" name="PTNO" th:value="${list.PTNO}">

            <div class="reply-submit">
              <input type="button" value="작성" class="reply-btn" onclick="check1()">
            </div>
          </form>
          <!-- 댓글 작성 끝 -->

          <!-- 댓글 출력 -->
          <div th:each="reply:${reply}">
            <div class="d-flex">
              <div class="before-update" id="before-update">

                <div class="ms-3">
                  <div class="fw-bold">
                    <i class="fa-sharp fa-solid fa-user"></i>
                    <span th:text="${reply.PTWRITER}"></span>
                  </div>
                  <th:each begin="1" end="${reply.PTINDENT }"> &emsp; </th:each>
                  <th:block data-th-if="${reply.PTINDENT > 0}">
                    <img th:src="@{/image/arraw.PNG}" height="10px" width="10px">
                  </th:block>
                  <span th:text="${reply.PTCONTENT}"></span>
                </div>

                <!--대댓글 아코디언-->
                <div class="rerebtn">
                  <!--   대댓글 입력-->
                  <th:block data-th-if="${loginUser != null}">
                    <input type="button" value="답글" class="accordion">
                  </th:block>

                  <div class="panel">
                    <form action="ptrereply" method="post">
                      <input type="hidden" name="PTNO" th:value="${reply.PTNO }">
                      <input type="hidden" name="PTWRITEDAY" th:value="${reply.PTWRITEDAY }">
                      <input type="hidden" name=PTGROUPS th:value="${reply.PTGROUPS }">
                      <input type="hidden" name="PTWRITER" th:value="${reply.PTWRITER }">
                      <input type="hidden" name="PTSTEP" th:value="${reply.PTSTEP }">
                      <input type="hidden" name="PTINDENT" th:value="${reply.PTINDENT }">

                      <div class="rereply-writer">

                        <th:block data-th-if="${loginUser != null}">
                          <input type="text" placeholder="대댓글작성자" th:value="${loginUser.MEMNICKNAME}" class="rerewriter-btn" name="RWRITER" readonly>
                        </th:block>
                        <th:block data-th-if="${loginUser == null}">
                          <input type="text" placeholder="로그인해주세요"  name="BOWRITER" readonly>
                        </th:block>

                      </div>

                      <textarea class="form-control" rows="3" placeholder="답글을 입력하세영" name="RCONTENT"></textarea>

                      <div class="rereply-submit">
                        <input type="submit" value="작성" class="reply-btn">
                      </div>
                    </form>
                  </div>
                  <!--대댓글 입력 끝-->


                  <th:block data-th-if="${loginUser != null && loginUser.MEMNICKNAME == reply.PTWRITER}">
                    <input type="button" value="수정" class="accordion">

                    <div class="panel">
                      <form action="PTReUpdateForm" method="post">
                        <div class="rereply-writer">

                          <input type="hidden" name="PTNO" th:value="${reply.PTNO }">
                          <input type="hidden" name="PTRNO" th:value="${reply.PTRNO }">
                          <input type="hidden" name="PTWRITEDAY" th:value="${reply.PTWRITEDAY }">
                          <input type="hidden" name=PTGROUPS th:value="${reply.PTGROUPS }">
                          <input type="hidden" name="PTSTEP" th:value="${reply.PTSTEP }">
                          <input type="hidden" name="PTINDENT" th:value="${reply.PTINDENT }">

                          <th:block data-th-if="${loginUser != null}">
                            <input type="text" placeholder="댓글작성자" name="PTWRITER" th:value="${loginUser.MEMNICKNAME}" readonly class="reply-btn">
                          </th:block>
                          <th:block data-th-if="${loginUser == null}">
                            <input type="text" placeholder="로그인해주세요"  name="BOWRITER" readonly>
                          </th:block>

                        </div>

                        <textarea class="form-control" rows="3" placeholder="댓글수정" name="PTCONTENT"></textarea>
                        <div class="rereply-submit">
                          <input type="submit" value="수정"  class="reply-btn">
                        </div>

                      </form>
                    </div>



                    <input type="button" value="삭제" th:onclick= "|location.href='@{ptredelete(PTRNO=${reply.PTRNO})}'|" class="list-btn">



                  </th:block>


                </div>
                <!-- 대댓글 아코디언 끝-->


              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


  </div>
</div>

</body>


</html>