<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="top::top"></div>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/8d3fc93edf.js" crossorigin="anonymous"></script>

<link th:href="@{/css/letter.css}" rel="stylesheet"/>
<script th:src="@{/js/main.js}" defer></script>

<script type="text/javascript">

	function check3()
	{
		var f = document.form3;

		//제목
		var vtitle = /^[A-Za-z0-9가-힣]/;
		var ctitle = document.form3.LTTITLE.value;
		if(ctitle=="")
			{
				alert("제목을 입력해주세요.");
				document.form3.LTTITLE.select();
				return false;
			}

		//내용
		var vcontent = /^[A-Za-z0-9가-힣]/;
		var ccontent = document.form3.LTCONTENT.value;
		if(ccontent=="")
			{
				alert("내용을 입력해주세요.");
				document.form3.LTCONTENT.select();
				return false;
			}

		alert("작성완료되었습니다.");
		f.submit();

	}


</script>

</head>
<body>
<div class="container">
    <div class="cover">

        <div class="contents">
            <div class="line">
                <span> 편지함</span>
            </div>

            <!-- 편지글 영역 -->
            <table>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                </tr>
                </thead>
                <tbody>

                    <form name="formletter">
                        <tr th:each="list:${list}">
                            <td class="num" th:text="${list.LTNO}"></td>
                            <td class="title">
                                <a th:href="@{ldetail(LTNO=${list.LTNO})}" th:text="${list.LTTITLE}"></a>
                            </td>
                            <td class="writer" th:text="${list.LTWRITER}"></td>
                            <td class="writeday" th:text="${list.LTWRITEDAY}">
                            </td>
                        </tr>
                    </form>

                </tbody>
            </table>
            <!-- 편지글 영역 끝 -->

        </div>

        <!--글쓰기버튼-->
        <div class="gotowrite">
                <th:block data-th-if="${loginUser != null}">
                    <input type="button" value="글쓰기" id="myBtn" class="write-btn" style="text-align:center;"><br>
                </th:block>
        </div>
        <!--글쓰기버튼-->


        <!-- 페이징 처리 -->
        <!--  -->
        <div class="page">

            <span th:each="page : ${#numbers.sequence(0, totalPage -1)}">
                <a th:href="@{/lout(page=${pageStat.index})}" th:text="${pageStat.index+1}"></a>
            </span>

        </div>

            <!-- 페이징 처리 끝 -->

    </div>
</div>

<!-- 편지지 form -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <div id="wrap">
        <h1 class="lettertext">Dear, IU</h1>
        <div id='form_wrap'>
            <form action="linputsave" method="post" name="form3">
                <p>제목</p>
                <input type="text" name="LTTITLE" />
                <p>아이유에게,</p>
                <textarea name="LTCONTENT" value="Your Message"></textarea>
                <p>사랑을 담아서,</p>

                <th:block data-th-if="${loginUser != null}">
                <input type="text" name="LTWRITER" th:value="${loginUser.MEMNICKNAME}" />
                </th:block>
                <th:block data-th-if="${loginUser == null}">
                    <input type="text" placeholder="로그인해주세요"  name="BOWRITER" readonly>
                </th:block>

                <input type="button" value="send to IU" class="lettersubmit" onclick="check3()" />

            </form>
        </div>
    </div>
</div>
<!-- 편지지 form 끝 -->

</body>
</html>